/* ==========================================================================
   RESPONSIVE
   ========================================================================== */

@media only screen and (max-width: 1000px) {
    #app {
        flex-direction: column;
    }
    #app-navigation {
        width: 100%;
        height: auto;
        flex-shrink: 0;
    }
    #calendar-container {
        min-width: 0 !important;
        padding-bottom: 20px;
        margin-right: 0;
        height: 80vh; /* Explicit height fallback for mobile */
    }
    .fc-header-toolbar {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 1.5em !important;
    }
    .fc-view {
        font-size: 0.85em; 
    }
}