#app-navigation {
    width: 300px;
    height: 100%;
    float: left;
    box-sizing: border-box;
    background-color: var(--color-main-background);
    border-right: 1px solid var(--color-border);
    padding-bottom: 44px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 500;
}

.nav-section-header {
    padding: 10px 15px;
    font-weight: bold;
    color: var(--color-text-maxcontrast);
    text-transform: uppercase;
    font-size: 0.85em;
    opacity: 0.7;
}