/* Main App Container */
#app {
    display: flex !important;
    flex-direction: row !important;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Main Content Area */
#app-content {
    overflow-x: auto !important;
    overflow-y: auto !important;
    height: 100vh;
    padding-right: 15px;
    flex-grow: 1;
    position: relative; /* Ensure it stays put */
}

/* Wrapper */
#app-content-wrapper {
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Mobile Overrides */
@media only screen and (max-width: 1000px) {
    #app-content {
        left: 0 !important;
        width: 100% !important;
        padding-top: 50px;
    }
    #app-content-wrapper { padding: 10px; }
}